.vs/
HomeWork_1/.vs/
HomeWork_1/Logistic/bin/
HomeWork_1/Logistic/obj/

HomeWork_2/.vs/
HomeWork_2/Logistic/bin/
HomeWork_2/Logistic/obj/

HomeWork_3/.vs/
HomeWork_3/Logistic/bin/
HomeWork_3/Logistic/obj/
