.vs/

HomeWork_1/.vs/
HomeWork_1/Logistic/bin/
HomeWork_1/Logistic/obj/

HomeWork_2/.vs/
HomeWork_2/Logistic/bin/
HomeWork_2/Logistic/obj/

HomeWork_3/.vs/
HomeWork_3/Logistic/bin/
HomeWork_3/Logistic/obj/

Unit_Tests/.vs/
Unit_Tests/Logistic/.vs/
Unit_Tests/Logistic/bin/
Unit_Tests/Logistic/obj/
Unit_Tests/Logistic.Core/.vs/
Unit_Tests/Logistic.Core/bin/
Unit_Tests/Logistic.Core/obj/
Unit_Tests/Logistic.Core.Tests/.vs/
Unit_Tests/Logistic.Core.Tests/bin/
Unit_Tests/Logistic.Core.Tests/obj/
Unit_Tests/Logistic.DAL/.vs/
Unit_Tests/Logistic.DAL/bin/
Unit_Tests/Logistic.DAL/obj/
Unit_Tests/Logistic.DAL.Tests/.vs/
Unit_Tests/Logistic.DAL.Tests/bin/
Unit_Tests/Logistic.DAL.Tests/obj/
Unit_Tests/Logistic.Models/.vs/
Unit_Tests/Logistic.Models/bin/
Unit_Tests/Logistic.Models/obj/
